.label{
  font-size: 12px;
  color: rgb(0, 30, 92);
  font-weight: 700;
  margin-bottom: 5px;
}

.input{
  width: 100%;
  height: 50px;
  border: 1px solid rgb(170, 150, 255);
  font-family: inherit;
  color:rgb(0, 30, 92);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 900;
  box-sizing: border-box;
}


