.app {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 244, 255);
  width: 100%;
  height: 100vh;
}

.page{
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  width: 60%;
  height: 80%;
  box-shadow: -4px 6px 47px -18px rgba(133,128,133,1);
  display: flex;
  gap: 50px
}